.editorWrap {
  height: 100vh;
  background-color: white;
  color: black;
}

.editorWrap :global .ProseMirror {
  height: 95vh;
  padding: 2vw;
  border: none;
}

.editorWrap :global .ProseMirror-focused {
  border: none;
  outline: unset !important;
}

.editorWrap > div {
  border: none;
  outline: unset !important;
}

.toolbarHeader {
  height: 5vh;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
